
git+https://github.com/wazo-pbx/pylinphonelib.git@master
https://github.com/wazo-pbx/wazo-agentd-client/archive/master.zip
https://github.com/wazo-pbx/wazo-auth-client/archive/master.zip
https://github.com/wazo-pbx/wazo-agentd-client/archive/master.zip
https://github.com/wazo-pbx/wazo-call-logd-client/archive/master.zip
https://github.com/wazo-pbx/wazo-calld-client/archive/master.zip
https://github.com/wazo-pbx/wazo-confd-client/archive/master.zip
https://github.com/wazo-pbx/wazo-dird-client/archive/master.zip
https://github.com/wazo-pbx/wazo-provd-client/archive/master.zip
https://github.com/wazo-pbx/wazo-setupd-client/archive/master.zip
https://github.com/wazo-pbx/wazo-websocketd-client/archive/master.zip
https://github.com/wazo-pbx/xivo-amid-client/archive/master.zip
https://github.com/wazo-pbx/xivo-bus/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/master.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/master.zip
PyHamcrest
SQLAlchemy
behave
kombu==4.2.1
pexpect  # From liblinphonelib
psycopg2
python-consul==0.7.1
pyyaml==3.13
requests==2.21.0
stevedore==1.29.0
websocket-client==0.53.0
