$def with (content)
<div id=results>
<table>
    <tr><td>:: Asterisk Calls processed</td></tr> 
    <tr> 
    <td><img  src="$content/asterisk_calls_processed_py-day.png" alt="Asterisk Calls processed" width="497"  height="280"/></td> 
    <td><img   src="$content/asterisk_calls_processed_py-week.png" alt="Asterisk Calls processed" width="497"  height="280"/></a></td> 
    </tr>
    <tr><td>:: XIVO ASTERISK file descriptors</td></tr> 
    <tr> 
    <td><img src="$content/xivo_asterisk_file_descriptors-day.png" alt="XIVO ASTERISK file descriptors" width="497"  height="280"/></td> 
    <td><img src="$content/xivo_asterisk_file_descriptors-week.png" alt="XIVO ASTERISK file descriptors" width="497"  height="280"/></td> 
    </tr> 
    <tr><td>:: XIVO ASTERISK Memory usage</td></tr> 
    <tr> 
    <td><img src="$content/xivo_asterisk_mem-day.png" alt="XIVO ASTERISK Memory usage" width="497"  height="280"/></td> 
    <td><img src="$content/xivo_asterisk_mem-week.png" alt="XIVO ASTERISK Memory usage" width="497"  height="280"/></td> 
    </tr> 
    <tr><td>:: XIVO CTID Memory usage</td></tr> 
    <tr> 
    <td><img src="$content/xivo_ctid_mem-day.png" alt="XIVO CTID Memory usage" width="497"  height="280"/></td> 
    <td><img src="$content/xivo_ctid_mem-week.png" alt="XIVO CTID Memory usage" width="497"  height="280"/></td>
    </tr> 
    <tr><td>:: XIVO CTID Socket</td></tr> 
    <tr> 
    <td><img src="$content/xivo_ctid_socket_py-day.png" alt="XIVO CTID Socket" width="497"  height="280"/></td> 
    <td><img src="$content/xivo_ctid_socket_py-week.png" alt="XIVO CTID Socket" width="497"  height="280"/></td>
    </tr> 
    <tr><td>:: General Memory usage</td></tr> 
    <tr> 
    <td><img src="$content/memory-day.png" alt="Memory usage" width="497"  height="424"/></td> 
    <td><img src="$content/memory-week.png" alt="Memory usage" width="497"  height="424"/></td>
    </tr> 
</table>
</div>
