# -*- coding: UTF-8 -*-

from __future__ import unicode_literals

## global configuration

sipp_remote_host = 'skaro-load'

sipp_local_ip = '192.168.32.241'
sipp_call_rate = 1.0
sipp_rate_period_in_ms = 1000
#sipp_max_simult_calls = 3
#sipp_enable_trace_stat = True

## scenarios configuration

bind_port = 5060

calling_line = {
    'username': 'loadtester',
    'password': 'loadtester',
}

pause = {
    'distribution': 'fixed',
    'value': 5000,
}
#pause = {
#    'distribution': 'uniform',
#    'min': 3000,
#    'max': 7000,
#}
#pause = {
#    'distribution': 'normal',
#    'mean': 5000,
#    'stdev': 1000,
#}

#scenarios.answer_then_wait.bind_port = 5060

#scenarios.call_then_cancel_on_ringing.calling_line = calling_line
scenarios.call_then_cancel_on_ringing.called_extens = ['1']

#scenarios.call_then_hangup.calling_line = calling_line
scenarios.call_then_hangup.called_extens = ['1']

#scenarios.call_then_wait.calling_line = calling_line
scenarios.call_then_wait.called_extens = ['1']
